<div class="modal modal-question fade js-modal-question" role="dialog"
  data-index="<%= index %>" data-answer="<%= answer %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ô chữ số <%= index + 1 %></h4>
      </div>

      <div class="modal-body">
        <%= image_tag "questions/#{'%02d' % index}.jpg" %>

        <div class="answer-boxes">
          <div class="answer-boxes-details">
            <% answer.length.times do |i| %>
              <div class="answer-box js-answer-box" contenteditable="true">
                <%#= answer[i] %>
              </div>
            <% end%>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary js-btn-check">
          <span class="glyphicon glyphicon-search"></span> Kiểm tra
        </button>
      </div>
    </div>
  </div>
</div>
