<div class="container">
  <div class="jumbotron">
    <h1>Đuổi Hình Bắt Chữ</h1>
    <p>
      Trả lời từng ô chữ để mở 1 phần của ô chữ lớn
    </p>
  </div><br><br>

  <div class="container-box">
    <% 3.times do |row| %>
      <div class="row-box">
        <% 3.times do |col| %>
          <% index = row * 3 + col %>
          <%= render "box", index: index %>
        <% end %>
      </div>
    <% end %>
  <div>
</div>

<% 3.times do |row| %>
  <% 3.times do |col| %>
    <% index = row * 3 + col %>
    <%= render "modal_question", index: index %>
  <% end %>
<% end %>
