@import "bootstrap-sprockets";
@import "bootstrap";

.container-box {
  text-align: center;
}

.row-box {
  clear: both;
  display: inline-block;
}

.box {
  width: 200px;
  height: 200px;
  float: left;
  margin: 0px 2px;
  border: 1px solid red;

  img {
    width: 198px;
    height: 198px;
  }
}

.modal-question {
  .modal-body {
    height: 450px;
  }

  img {
    width: 500px;
    height: 350px;
  }
}

.answer-boxes {
  margin-top: 15px;
  text-align: center;

  .answer-boxes-details {
    display: inline-block;

    .answer-box {
      width: 40px;
      height: 40px;
      border: 1px solid black;
      line-height: 40px;
      margin: 2px;
      float: left;
    }
  }
}
